PromoteBmp       Bitmap Promote.Bmp
PromoteAllBmp    Bitmap PromoteAll.Bmp
ShowReferenceBmp Bitmap ShowReference.Bmp
UndoReferenceBmp Bitmap UndoReference.Bmp
ShowUsageBmp     Bitmap ShowUsage.Bmp
ShowUnusedBmp    Bitmap ShowUnused.Bmp

1 VersionInfo
  FileVersion 2,3
  ProductVersion 2,3
  FileFlagsMask 0x3FL
  FileFlags 0x0L
  FileOs 0x4L
  FileType 0x1L
  FileSubType 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "White Elephant GmbH\0"
      VALUE "FileDescription", "White Elephant Nodepad++ DLL\0"
      VALUE "FileVersion", "2.3\0"
      VALUE "InternalName", "Npp_Elephant\0"
      VALUE "LegalCopyright", "Copyright \251 White Elephant GmbH 2015\0"
      VALUE "OriginalName", "Npp_Elephant.dll\0"
      VALUE "ProductName", "Npp_Elephant\0"
      VALUE "ProductVersion", "2.3\0"
      VALUE "Compiler", "GNAT Version 7.3.0\0"
      VALUE "Developed By", "White Elephant GmbH"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

