Etpu_Server Icon Etpu_Server.Ico

1 VersionInfo
  FileVersion 2,3
  ProductVersion 2,3
  FileFlagsMask 0x3FL
  FileFlags 0x0L
  FileOs 0x4L
  FileType 0x1L
  FileSubType 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "White-Elephant GmbH\0"
      VALUE "FileDescription", "eTpu Server\0"
      VALUE "FileVersion", "2.3\0"
      VALUE "InternalName", "Etpu_Server\0"
      VALUE "LegalCopyright", "Copyright \251 White Elephant GmbH 2015\0"
      VALUE "OriginalName", "eTpu_Server.Exe\0"
      VALUE "ProductName", "eTpu_Server\0"
      VALUE "ProductVersion", "2.3\0"
      VALUE "Compiler", "GNAT Version 7.3.1\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END




